<h1>部門詳細</h1><br><br>
<center>
<h3>部門の詳細です。</h3><br><br>
 <table border="1">
  <tr>
   <th><center>部門名</center></th>
   <td>
    <center><%= @department.name %></center>
   </td>
 </tr>
 <tr>
  <th>
   <center>部門番号</center>
  </th>
  <td>
   <center>
 <center><%= @department.department_number %></center>
 </center>
 </td>
 </tr>
 </table><br>
 <%= link_to "編集する", edit_admin_department_path(@department), class: "btn btn-success" %>
 <br><br><%= link_to '戻る', admin_departments_path, class: "btn btn-primary" %>
</center>

