<h1>部門詳細</h1>
<center>
 <table border="1">
  <tr>
   <th>
    部門名
   </th>
   <td>
    <%= @department.name %>
   </td>
 </tr>
 <tr>
  <th>
   部門番号
  </th>
  <td>
   <center>
 <%= @department.department_number %>
 </center>
 </td>
 </tr>
 </table><br>
 <%= link_to "編集する", edit_admin_department_path(@department), class: "btn btn-success" %>
</center>

