<div class="text-center">
  <center>
	<h1>部門ページ(<%= @department.name %>)</h1>
		<br><br>
		<h2>ブックマーク一覧</h2><br>
		<table>
	    <% @bookmarks.each do |bookmark| %>

	  <tr>
	    <td><h4><%= link_to bookmark.item.name,item_path(bookmark.item) %></h4></td>
	  </tr>
	    <% end %>
	  </tbody>
	</table><br><br><br>
	<div class="flex">
		<%= link_to "注文履歴一覧", orders_path, class: "btn btn-primary ml2" %>
	</div>
	</center>
</div>