<br><br><br><br><br><center><h1>部品の発注ができます。<br>ログインをすることで発注が可能になります。<br><br><br><br><br><br>
<%= link_to new_department_session_path,class: "btn btn-success" do %>
              <i class="fas fa-sign-in-alt"></i>
              ログイン
              <% end %>
            </h1></center>