<br><br><br><br><br><center><h1>部品の発注ができます。<br>ログインをすることで発注が可能になります。<br><br><br><br><br><br></h1>
<p style="color: red">在庫を切らさぬよう万全を期しておりますが、在庫がなくなることがございますので在庫に余裕をもって注文をお願いいたします。</p>
<h1><%= link_to new_department_session_path,class: "btn btn-success" do %>
              <i class="fas fa-sign-in-alt"></i>
              ログインページへ進む
              <% end %>
            </h1></center>