<table class="st-tbl1">
  <thead>
    <tr>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
      <th>見出し</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>縦軸</th>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
      <td>データ</td>
    </tr>
	…以下データ繰り返し
  </tbody>
</table>